body{
  background-color: rgb(25, 25, 25);
  font-family: 'Poppins', sans-serif;
  cursor: url('images/new-cursor.png'),auto;
}


.title-rps{
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}
.move-icon{
  height: 50px;
}
.move-button{
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result{
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}
p{
  color: white;
}
.score{
  margin-top: 60px;
}
.reset-score-button{
  background: linear-gradient(90deg, #1746ff, #ff00ea);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.reset-score-button:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}